*{
    margin: 0;
}
main{
    height: 100vh;
    background-image: url("../img/meeting-room-1806702.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
/* .blanc{
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
} */
header img{
    width: 62px;
    height: 57px;
}
header{
    /*border: yellow solid 5px;*/
    display: flex;
    justify-content: space-around;
    background: linear-gradient(155deg, rgba(212,16,16,1) 7%, rgba(243,154,67,1) 17%, rgba(247,240,24,1) 31%, rgba(94,247,24,1) 45%, rgba(24,90,247,1) 59%, rgba(187,24,247,1) 73%, rgba(243,24,247,1) 87%); 
}
header div{
    display: flex;
}
header ul{
    /*border: 5px solid rgb(255, 0, 0);*/
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
header ul li{
    /*border: 5px solid cyan;*/
    display: flex;
    align-items: center;
}
.liste{
    width: 67%;
    justify-content: center;
}
a {
    color: black;
    text-decoration: none;
    font-size: 150%;
}
header h1{
    margin-left: 3%;
    width: 100%;
    display: flex;
    align-items: center;
}
header div{
    width: 21%;
}
/*header::before{
    content: "";
    position: absolute;
    height: 19%;
    width: 100%;
    background: linear-gradient(155deg, rgba(212,16,16,1) 7%, rgba(243,154,67,1) 17%, rgba(247,240,24,1) 31%, rgba(94,247,24,1) 45%, rgba(24,90,247,1) 59%, rgba(187,24,247,1) 73%, rgba(243,24,247,1) 87%);
    z-index: -1;
    filter: blur(20px);
}